@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */

.page-background {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Alpha_Perse_-_star.png/1200px-Alpha_Perse_-_star.png?20251009183127");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
